{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock %}
{% block style %}
  ul {
      margin: 0px;
      padding: 20px 0px 0px 40px;
  }
{% endblock %}

{% block header %}
  <h1>Panel</h1>
{% endblock %}

{% block content %}
  <ul>
    <li> <a href="/enabled">Enabled</a> </li>
    <li> <a href="/disabled">Disabled</a> </li>
    <li> <a href="/active">Active</a> </li>
    <li> <a href="/inactive">Inactive</a> </li>
    <li> <a href="/running">Running</a> </li>
    <li> <a href="/exited">Exited</a> </li>
    <li> <a href="/dead">Dead</a> </li>
  </ul>
{% endblock %}
